@import "variables";

.container {
  margin: 100px 0;
}

.heading {
  color: #FFF;
  font-size: 26px;
  text-align: center;
}

.contactForm {
  display: grid;
  grid-gap: 20px;
  max-width: 700px;
  padding: 30px 30px 50px;
  margin: 20px auto;
  background: #FFF;
  color: $darkFont;

}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.inputGroup {
  height: 100px;
  grid-column: 1 / 2;
}

.textareaGroup {
  grid-column: 2 / 2;
  grid-row: 1 / span 3;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 25px;

  .information {
    font-size: 12px;
    color: $lightFont;
  }
}

input,
textarea {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  color: $darkFont;
}

textarea {
  height: calc(100% - 56px);
  resize: none;
}

.submit {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 0;
  background: linear-gradient($gradient);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: linear-gradient($gradientHover);
  }
}

.errorField {
  border: 1px solid $error;
}

.error {
  color: $error;
  font-size: 14px;
}

.success {
  color: $success;
  font-size: 18px;
  text-align: center;
}

@media(max-width: $mobile) {
  .inputGroup,
  .textareaGroup {
    grid-column: 1 / span 2;
  }

  .textareaGroup {
    grid-row: unset;
  }

  textarea {
    height: 200px;
  }
}
